body {
    background-color: #28e8e8;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-size: 40px;
    margin: 0;
}

button {
    background-color: #0d525c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 40px ;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}